body {
  margin: 0;
  overflow-x: hidden;
  font-family: Nunito, sans-serif;
  background-size: contain;
  background-image: no-repeat;
  background-repeat: no-repeat;
}

div {
  text-align: center;
  justify-content: center;
}

h2 {
  text-align: center;
  font-size: 32px;
  margin-top: 30px;
  margin-bottom: 5px;
  font-weight: 590;
}

.crew {
  padding: 20px;
  margin: 20px;
}

.firstLine {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 500px;
  margin: auto;
  margin-top: 30px;
  border-radius: 125px;
}

.firstLine > div {
  width: 25%;
  padding: 20px;
  padding-bottom: 5px;
}

.firstLine img {
  width: 100%;
  border-radius: 125px;
}

.middleLine {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 500px;
  margin: auto;
  margin-top: 5px;
  border-radius: 125px;
}

.middleLine > div {
  width: 25%;
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.middleLine img {
  width: 100%;
  border-radius: 125px;
}

.lastLine {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 500px;
  margin: auto;
  border-radius: 125px;
}

.lastLine > div {
  width: 25%;
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.lastLine img {
  width: 100%;
  border-radius: 125px;
}

.platform {
  padding-top: 150px;
  margin: 20px;
}

.element {
  display: flex;
  padding-top: 150px;
  height: 22vw;
  width: 100%;
  scale: 0.5;
}

#video {
  position: absolute;
  padding-top: 10px;
  padding-right: 30px;
  height: 10vw;
  width: 100%;
  object-fit: contain;
}

#iphone {
  position: absolute;
  padding-right: 30px;
  height: 18vw;
  width: 700px;
  object-fit: contain;
}

#ipad {
  position: absolute;
  padding-right: 30px;
  height: 20vw;
  width: 600px;
  object-fit: contain;
}

.download {
  display: flex;
  height: 30vw;
  flex-wrap: wrap;
}

#ios {
  padding-left: 30px;
  padding-right: 35px;
  width: 200px;
  height: 59px;
}

#android {
  padding-left: 35px;
  width: 200px;
  height: 59px;
}
