body {
  margin-top: 20%;
  margin-bottom: 20px;
  overflow-x: hidden;
  font-family: Nunito, sans-serif;
  background-size: contain;
  background-image: url("vibz-assets/white_pink_split_background.png");
  background-position-y: 15%;
  background-repeat: no-repeat;
}

div {
  text-align: center;
  justify-content: center;
}

h2 {
  text-align: center;
  font-size: 32px;
  margin-top: 30px;
  margin-bottom: 5px;
  font-weight: 590;
}

#motionPath {
  visibility: hidden;
}

/**First Part**/
.titleCrew {
  opacity: 0;
}

.crew {
  margin: 20px;
}

/**Profile**/
.name {
  opacity: 0;
}

.line {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 500px;
}

.line > div {
  width: 25%;
  padding: 20px;
  padding-bottom: 5px;
}

.line img {
  width: 100%;
  border-radius: 125px;
}

.firstLine {
  margin: auto;
  margin-top: 10px;
  border-radius: 125px;
}

.middleLine {
  margin: auto;
  margin-top: 5px;
  border-radius: 125px;
}

.middleLine > div {
  padding-top: 5px;
}

.lastLine {
  margin: auto;
  border-radius: 125px;
}

.lastLine > div {
  padding-top: 5px;
}

/**Second Part**/
.container {
  padding-top: 150px;
  padding-bottom: 0px;
  margin: 20px;
  margin-bottom: 0%;
}

.vibzMobile {
  margin-right: 600px;
}

.element {
  display: flex;
  padding-top: 200px;
  height: 22vw;
  width: 100%;
  scale: 0.5;
}

#video {
  position: absolute;
  padding-top: 10px;
  padding-right: 30px;
  height: 10vw;
  width: 100%;
  object-fit: contain;
}

#iphone {
  position: absolute;
  padding-right: 30px;
  height: 18vw;
  width: 700px;
  object-fit: contain;
}

#ipad {
  position: absolute;
  padding-right: 30px;
  height: 20vw;
  width: 600px;
  object-fit: contain;
}

/**Section download**/
.download {
  display: flex;
  height: 5vw;
  flex-wrap: wrap;
  padding-bottom: 0%;
  scale: 0.5;
}

.btn {
  width: 200px;
  height: 59px;
}

#ios {
  padding-left: 30px;
  padding-right: 35px;
}

#android {
  padding-left: 35px;
}
